<div class="payment-page container-fluid fade-in-up">
	<div class="row">
		<div class="col-md-12 ">
			<div class="page-heading">
				<h1 class="page-title">Quản lý hóa đơn</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="index.html">
							<i class="la la-home font-20"></i>
						</a>
					</li>
					<li class="breadcrumb-item">Admin</li>
					<li class="breadcrumb-item">DS Hóa đơn
						<nav></nav>
					</li>
				</ol>
			</div>
			<div class="page-content ">
				<div class="ibox">
					<div class="ibox-head row">
						<div class="col-md-6">
							<h2>Danh sách Hóa đơn</h2>
						</div>
						<div class="col-md-6">
							<ul class="filter-icon list-unstyled list-inline pull-right">
								<li>Bộ lọc</li>
								<li>
									<span>
										<i class="fa fa-calendar"></i>
									</span> Chọn ngày</li>
							</ul>
						</div>
					</div>
					<div class="ibox-body">
						<div class="form-group col-md-4">
							<input type="text" class="form-control   pull-right" placeholder="Nhập từ khóa để tìm...">
						</div>
						<table class="table table-hover table-head-success">
							<thead>
								<tr>
									<th>#</th>
									<th>Số hóa đơn</th>
									<th>Đơn vị mua hàng</th>
									<th>Ngày xuất</th>
									<th>Tổng tiền sau thuế</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>0117457</td>
									<td class="text-success lead">Công Ty Cổ Phần Du Lịch Xtravel</td>
									<td>30/3/2018</td>
									<td>168,000</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>