<form action="">
	<div class="form-group col-md-6 input-search">
		<input type="text" class="form-control   pull-right" placeholder="Nhập từ khóa để tìm..." [(ngModel)]="keyword" name="keyword">
	</div>
	<div class="col-md-1">
		<button class="btn btn-success btn-search" type="submit" (click)="onSearch()">Tìm</button>
	</div>
	<div class="pull-right">Tổng số booking:
		<strong class="font-bold">{{totalItem}}</strong>
		<!-- select limiut page size list -->
		<select-limit [numbers]="pageSizeList" (onChange)="onChangeLimitSize($event)"></select-limit>
	</div>
</form>

<table class="table table-hover table-head-success">
	<thead>
		<tr>
			<th class="text-center stt">#</th>
			<th class="text-center">Mã đặt chỗ</th>
			<th class="text-center">Tên Khách hàng</th>
			<th class="text-center">Ngày đặt chỗ</th>
			<th class="text-center">Hạn thanh toán</th>
			<th class="text-center">Nội dung thanh toán</th>
			<th class="text-center">Tổng tiền</th>
			<th class="text-center">Xác thực CK</th>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor="let h of transferHotels; let i = index" class="text-center">
			<td>{{h.no}}</td>
			<td>{{h.code}}</td>
			<td class="lead info-user" (click)=showDetailHotel(h.id)>{{h.customerName}}</td>
			<td>{{h.bookingDate | moment: 'HH:mm DD/MM/YYYY'}}</td>
			<td>{{h.expiryDate | moment: 'HH:mm DD/MM/YYYY'}}</td>
			<td>{{h.description}}</td>
			<td>{{h.totalPrice | number:'.0-2'}} đ</td>
			<td>
				<button *ngIf="h.status == 1" [disabled]="h.status == 1" class="btn btn-fix">Xác thực</button>
				<button *ngIf="h.status == 0 || h.status == 7 " class="btn btn-fix btn-success" (click)=confirmTransferHotel(h)>Xác thực</button>

			</td>
		</tr>
	</tbody>


</table>

<pagination *ngIf="totalItem > limit" [totalItems]="totalItem" [itemsPerPage]="limit" [maxSize]="5" previousText="&lsaquo;"
 nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>

<sidebar-detail [open]="openSideBar" [type]="typeTransfer" [data]="transferHotelDetail"></sidebar-detail>