<!-- <div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
      <min-sidebar></min-sidebar>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      swdasd
      <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown">
          {{ user.name }} <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-messages">
          <li >
            <a href="#/change">Change Password</a>
          </li>s
          <li >
            <a href="#/hr/change">Change Password</a>
          </li>
          <li>
            <a (click)="onSignout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div> -->