<div bsModal #popup="bs-modal" class="modal fade change-password-popup" role="dialog" (onHide)="onPopupClose()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right">
                    <i class="fa fa-times" (click)="hide()"></i>
                </div>
                <div class=" text-center ">
                    <h4 class="modal-title title-preview ">Đổi mật khẩu</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="ibox ibox-fullheight">
                        <div class="ibox-body">
                            <form [formGroup]="form" novalidate (submit)="submit(form.value)">
                                <div class="form-group m-b-4">
                                    <div class="input-group-icon input-group-icon-left input-group-lg" [ngClass]="{'has-error has-feedback': !currentPassword.valid && currentPassword.dirty}">
                                        <div class="input-icon input-icon-left"><i class="fa fa-lock"></i></div>
                                        <input class="form-control form-control-air" type="password" placeholder="Nhập password cũ"
                                            [formControl]="currentPassword">
                                    </div>
                                </div>
                                <div class="form-group m-b-4 m-t-10">
                                    <div class="error text-danger error-message">
                                        <span *ngIf="!newPassword.valid && newPassword.dirty">Mật
                                            khẩu mới không được
                                            trùng và có ít nhất 6 ký tự </span>
                                    </div>
                                    <div class="input-group-icon input-group-icon-left input-group-lg" [ngClass]="{'has-error has-feedback': !newPassword.valid && newPassword.dirty}">
                                        <div class="input-icon input-icon-left"><i class="fa fa-lock"></i></div>
                                        <input class="form-control form-control-air" type="password" placeholder="Nhập password mới"
                                            [formControl]="newPassword">

                                    </div>
                                </div>
                                <div class="text-center m-b-4 m-t-10">
                                    <button class="btn btn-lg btn-primary btn-rounded btn-air" type="submit" style="width:200px;"
                                        [disabled]="!form.valid">Cập
                                        nhật</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-none">
            </div>
        </div>
    </div>
</div>