<div class="constrution-page container-fluid fade-in-up">
  <div class="row">
    <div class="col-md-12">
      <div class="page-heading">
        <h1 class="page-title">Danh sách {{total}} mã công trình</h1>
      </div>
      <div class="page-content">
        <div class="ibox clearfix">
          <div class="ibox-body">
            <div class="pull-left">
              <form action="">
                <div class="form-group col-md-10 input-search">
                  <input type="text" class="form-control   pull-right" placeholder="Nhập từ khóa để tìm..."
                    [(ngModel)]="keyword" name="keyword">
                </div>
                <div class="col-md-1">
                  <button class="btn btn-success btn-search" type="submit" (click)="onSearch()">Tìm</button>
                </div>
              </form>
            </div>
            <ul class=" list-unstyled list-inline pull-right m-b-none">
              <button class="btn btn-info btn-fix" (click)="onCreate()">
                <span class="btn-icon"><i class="fa fa-plus"></i>Tạo mã</span>
              </button>

              <div class="pull-right p-l-10">
                <select-limit [numbers]="pageSizeList" (onChange)="onChangeLimitSize($event)" [selectedNumber]="limit"
                  class="pull-right"></select-limit>
              </div>
            </ul>
            <table class="table table-bordered table-hover table-responsive table-construction">
              <thead class="thead-default thead-lg">
                <tr>
                  <th *ngFor="let header of headers; let i = index"
                    [class]="sortClass(header.sortable ? header.field : '')"
                    (click)="sortBy(header.sortable ? header.field : '')">
                    {{ header.title }}
                    <span class="sort-indicator"></span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" *ngFor="let code of codes; let i = index">
                  <td>{{code.stt}}</td>
                  <td> {{code.code}}
                  </td>
                  <td>{{code.name}}</td>
                  <td>
                    <span [ngSwitch]="code.type">
                      <span *ngSwitchCase="1">
                        Vé máy bay
                      </span>
                      <span *ngSwitchCase="2">
                        Khách sạn
                      </span>
                      <span *ngSwitchCase="4">
                        Vé vui chơi tham quan
                      </span>
                      <span *ngSwitchCase="6">
                        Dịch vụ khác
                      </span>
                      <span *ngSwitchDefault>
                        Tour
                      </span>
                    </span>
                  </td>
                  <td>{{code.departDate | moment: 'DD/MM/YYYY'}}</td>
                  <td>{{code.createdDate | moment: 'HH:mm DD/MM/YYYY'}}</td>
                  <td>
                    <button class="btn btn-outline-info btn-fix " (click)="onEdit(code)">
                      <span class="btn-icon"><i class="fa fa-pencil"></i>Sửa</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center">
              <pagination *ngIf="total > limit" [totalItems]="total" [itemsPerPage]="limit" [maxSize]="10"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                (pageChanged)="pageChanged($event)" [boundaryLinks]="true" [(ngModel)]="page"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>